services:
  mongodb:
    image: mongodb:v1
    container_name: mongodb
  catalogue:
    image: catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
networks:
  default:
    driver: bridge
    name: roboshop
    external: false # true indicates if you created network manually using docker network command
